@import '../../scss/variables';

.counter {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $text-dark;
  user-select: none;

  &__count,
  &__increment,
  &__decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: border 0.3s ease;
  }

  &__count {
    margin: 0 7px;
  }

  &__increment,
  &__decrement {
    cursor: pointer;

    &:hover {
      border: 1px solid $primary-light;
    }
  }

  &__decrement_disabled {
    color: #e0e0e0;
    cursor: auto;

    &:hover {
      border: 1px solid #e0e0e0;
    }
  }
}
