@import '../../scss/variables';

.page-title {
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  letter-spacing: 0.05em;

  &__title {
    margin: 0 9px 0 0;
    font-size: 22px;
    font-weight: 500;
  }

  &__count {
    font-size: 18px;
    font-weight: 500;
    color: $text-gray;
  }
}
