@import '../../scss/variables';

.header {
  border-bottom: 1px solid #E7E7E7;

  &__logo {
    margin: 0 50px 0 0;
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 70px;
  }
}
