@import '../../scss/variables';

.order-panel {
  display: flex;
  padding: 25px;
  background-color: $background-light;
  border-radius: 10px;
  box-shadow: 0 5px 24px rgba(129, 135, 189, 0.15);

  &__sum {
    width: 432px;

    div {
      overflow: hidden;
      line-height: 1.2;

      &:not(:last-child) {
        margin: 0 0 10px;
      }

      &:last-child span {
        font-weight: 500;
      }

      &::after {
        display: block;
        overflow: hidden;
        letter-spacing: 0.15em;
        white-space: nowrap;
        content: '................................................................................';
      }
    }

    div span:first-child {
      float: left;
    }

    div span:last-child {
      float: right;
      letter-spacing: 0.05em;
    }
  }

  &__actions {
    width: calc(100% - 432px);
    margin: 0 0 0 25px;
  }

  &__button {
    width: 100%;
  }

  &__delete {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    margin: 16px 0 0;
    font-size: 14px;
    color: $text-gray;
    cursor: pointer;
    transition: color 0.3s ease;

    svg {
      fill: $text-gray;
      transition: fill 0.3s ease;
    }

    &:hover {
      color: rgb(232, 110, 110);

      svg {
        fill: rgb(232, 110, 110);
      }
    }
  }
}
